<html>
  <head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <!-- JS -->
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src= "scripts/script.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li{% if tab_highlight == 1 %} class="active" {% endif %}>
            <a href="/">{% if user %} Dashboard {% else %} Home {% endif %}</a>
          </li>
          <li{% if tab_highlight == 2 %} class="active" {% endif %}>
            <a href="/sell">Sell a book</a>
          </li>
          <li{% if tab_highlight == 3 %} class="active" {% endif %}>
            <a href="/buy">Buy a book</a>
          </li>
          {% if user %}
          <li><a href="{{logout}}">Log out</a></li>
          {% else %}
          <li><a href="{{login}}">Log in</a></li>
          {% endif %}
        </ul>
        <h3 class="text-muted">Book Bazaar</h3>
      </div> <!-- End Header -->

      {% block bodycontent %}
      {% endblock %}

      <div class="footer">
        <p>&copy; Book Bazaar 2014</p>
      </div> <!-- End Footer -->
    </div> <!-- End Container -->
  </body>
</html>
