{% extends "layouts/base.html" %}
{% block bodycontent %}
{% if user %}
<p>Welcome back, {{email}}</p>
<p>Here's a summary of your books on the Market</p>

<h2>Books for Sale</h2>


<table class="table table-striped vert-align-center">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Author</th>
      <th>Edition</th>
      <th>ISBN 10</th>
      <th>ISBN 13</th>
      <th>Seller Email</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for book in q %}
    <tr>
      <td><img src={{book.picture_url}} height="50px"></img></td>
      <td name = "titleD">{{book.title}}</td>
      <td name = "authorD">{{book.author}}</td>
      <td>{{book.edition}}</td>
      <td>{{book.isbn_10}}</td>
      <td>{{book.isbn_13}}</td>
      <td name = "sellerD">{{book.seller_email}}</td>
      <td>
        <form action="/delete" method="post" autocomplete="off">

        <input type="submit" value="Delete"></input>
        </form>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>







{% else %}
  <div class="jumbotron">
    <h1>Book Bazaar</h1>
    <p class="lead">No hassle book re-sale to other students at your university</p>
    <p><a id="sign-up-button" class="btn btn-lg btn-success" href="{{login}}"
      role="button">Sign up with Google</a></p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>No middleman</h4>
      <p>We don't take any part of your sale price. We simply help you find
      someone who wants to buy your books and negotiate a price.</p>
    </div>
    <div class="col-lg-6">
      <h4>Sick of high text book prices?</h4>
      <p>Everything in our college text books can be found online for free, so if
        you have to buy a textbook you might as well get it for the lowest price!
      </p>
    </div>
  </div>
  {% endif %}
  {% endblock %}
