{% extends "layouts/base.html" %}
{% block bodycontent %}

<script>

  $( document ).ready(function() {
    $( '#isbn-search-form' ).on('submit', function (e) {
      e.preventDefault();
      var isbn = $( "#isbn" ).val();
      console.log(isbn);

      $.getJSON('/isbn_search?isbn=' + isbn, function(data) {

        $("input[name='title']").val(data.title);
        $("input[name='author']").val(data.author);
        $("input[name='edition']").val(data.edition);
        $("input[name='isbn_10']").val(data.isbn_10);
        $("input[name='isbn_13']").val(data.isbn_13);
        $("input[name='picture_url']").val(data.picture_url);
        $("#cover-art").attr("src", data.picture_url);
        $("p").addClass("hidden");
        $("#isbn-search-results").removeClass("hidden");
      });
    });
  });

</script>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <form role="form" id="isbn-search-form">
      <div class="form-group">
        <input type="text" class="form-control" id="isbn"
               placeholder="Book ISBN ex. 1250033314">
      </div>
      <button class="btn btn-primary">Find Book</button>
    </form>
  </div>

  <div class="col-xs-12 col-md-6">
    <div id="js-isbn-results">
      <p>Search for your book by ISBN</p>
      <form role="form" action="/sell" method="post" id="isbn-search-results" class="hidden">
        <img src="" alt="Book Cover" width="100" id="cover-art"></img>
        <div class="form-group">
          <input name="title" type="text" class="form-control" readonly>
          </input>
          <input name="author" type="text" class="form-control" readonly>
          </input>
          <input name="edition" type="text" class="form-control" readonly>
          </input>
          <input name="isbn_10" type="text" class="form-control" readonly>
          </input>
          <input name="isbn_13" type="text" class="form-control" readonly>
          </input>
          <input name="picture_url" type="text" class="form-control hidden"
                 readonly></input>
        </div>
        <button type="submit" class="btn btn-success">Get Cash!</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4> Don't have ISBN? Enter Manually </h4>
    <form action="/sell_without_isbn" method="post" autocomplete="off"
          class="form-horizontal" role="form">

      <div class="form-group">
        <label for="title1" class="col-sm-1 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" name="title1" id="title1" class="form-control"
                 placeholder="Programming for Dimwits">
          </input>
        </div>
      </div>

      <div class="form-group">
        <label for="author1" class="col-sm-1 control-label">Author</label>
        <div class="col-sm-10">
          <input type="text" name="author1" id="author1" class="form-control"
                 placeholder="Bill Gates">
          </input>
        </div>
      </div>

      <div class="form-group">
        <label for="edition1" class="col-sm-1 control-label">Edition</label>
        <div class="col-sm-10">
          <input type="text" name="edition1"id="edition1" class="form-control"
                 placeholder="1st">
          </input>
        </div>
      </div>

      <div class="form-group">
        <input  value="Get Cash!" type="submit" class="btn btn-success"></input>
      </div>
    </form>
  </div>
</div>
{% endblock %}
